* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pos {
  display: flex;
}

.content {
  width: 50%;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding: 0 20px;
}

.name_admin a {
  text-decoration: none;
  margin-top: 90px;
}

.name_admin .name {
  cursor: pointer;
  width: 200px;
  padding: 10px 11px;
  background-color: rgb(255, 158, 158);
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  gap: 20px;
  h4 {
    font-size: 20px;
    cursor: pointer;
  }
}

.login-btn-icon {
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.img_admin h1 {
  content: "";
  cursor: pointer;
}
.cart {
  width: 50%;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding: 0 20px;
}

.past1 {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 20px;
}
.box1 {
  cursor: pointer;
  h4 {
    font-size: 20px;
  }
}

.navbar {
  background-color: #34495e;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}

.toggle-btn {
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 24px;
  cursor: pointer;
  margin-right: 20px;
}

.header-title {
  font-size: 1.2em;
  font-weight: bold;
}

.content-wrapper {
  display: flex;
  /* padding-top: 50px; */
}

.sidebar {
  width: 250px;
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 20px 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  margin-left: -250px;
  transition: margin-left 0.3s ease;
  flex-shrink: 0;
  height: 90%;
  position: fixed;
  display: grid;
  justify-content: space-between;
  top: 100px;
  left: 0;
}
.sidebar.open {
  margin-left: 0;
}
.main-content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 0;
  transition: margin-left 0.3s ease;
}

/* .main-content.shifted {
  margin-left: 250px;
} */
.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar-nav a {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  text-decoration: none;
  color: #ecf0f1;
  font-size: 16px;
  transition: background-color 0.3s;
  position: relative;
  overflow: hidden;
}
.sidebar-nav a:hover {
  background-color: #34495e;
}
.sidebar-nav i:not(.arrow) {
  margin-right: 15px;
  width: 20px;
  text-align: center;
}
.sidebar-nav .arrow {
  position: absolute;
  right: 15px;
}
.nav-link {
  cursor: pointer;
}
